@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: linear-gradient(
      -45deg,
      #1b2735,
      #223040,
      #33425a,
      #44576e,
      #1b2735
    );
    --foreground: #ffffff99;
    --neon-green: #33ff33;
    --neon-normal: #0fa;
    --neon-red: #ff3333;
    --neon-orange: #ff9900;
    --neon-purple: #bc13fe;
    --neon-blue: #00ccff;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    @apply font-extralight;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* 스크롤바 영역 전체 */
  ::-webkit-scrollbar {
    width: 8px; /* 세로축 스크롤바 폭 너비 */
  }

  /* 스크롤바 진행 표시줄 */
  ::-webkit-scrollbar-track {
    /* background: #9b6a2f; 스크롤바 뒷 배경 색상 */
    /* box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); 그림자 제거 */
    box-shadow: var(--background); /* 트랙 안쪽 그림자 추가 */
  }

  /* 스크롤바 막대 */
  ::-webkit-scrollbar-thumb {
    background-color: #7de6db5a;
    outline: 1px solid #7de6db5a;
    border-radius: 12px 12px 12px 12px;
  }
}

@layer components {
  .root--container {
    @apply padding h-screen max-w-[1440px];
  }

  /* svg 정렬 */
  .svg--center {
    @apply flex items-center gap-2;
  }

  /* Button */
  .button-shape {
    @apply flex h-12 min-w-44 items-center justify-center gap-2 rounded-full px-5 text-base;
  }

  .button-neon-normal {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid var(--neon-normal);
    border-radius: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: var(--neon-normal);
    @apply text-neonNormal button-shape;
  }

  .button-neon-normal:hover {
    box-shadow:
      0 0 10px 0 var(--neon-normal) inset,
      0 0 20px 2px var(--neon-normal);
    border: 3px solid var(--neon-normal);
    @apply text--neon--normal;
  }

  .button-neon-white {
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid var(--foreground);
    border-radius: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: var(--foreground);
    @apply text-neonWhite button-shape;
  }

  .button-neon-white:hover {
    box-shadow:
      0 0 10px 0 var(--foreground) inset,
      0 0 20px 2px var(--foreground);
    border: 3px solid var(--foreground);
    @apply text--neon--white;
  }

  /* Terminal */
  .terminal {
    @apply max-h-[590px] overflow-hidden overflow-y-scroll p-8;
  }

  .terminal::before {
    @apply animate-blink mr-4 text-xl [content:'>'];
  }

  .terminal:empty::after {
    @apply [content:'...Waiting'];
  }

  /* Choice */
  .qa__user__name:empty::after {
    @apply [content:'..none'];
  }

  .choice__branch__name:empty::after {
    @apply [content:'..none'];
  }
}

@layer utilities {
  .h1 {
    @apply text-4xl;
  }

  .h2 {
    @apply text-2xl;
  }

  .h3 {
    @apply text-xl;
  }

  /* 일관된 Padding */
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-20;
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .padding-y {
    @apply py-12 sm:py-24;
  }

  .padding-l {
    @apply pl-8 sm:pl-16;
  }

  .padding-r {
    @apply pr-8 sm:pr-16;
  }

  .padding-t {
    @apply pt-12 sm:pt-24;
  }

  .padding-b {
    @apply pb-12 sm:pb-24;
  }

  .sub-padding {
    @apply p-4 sm:p-8;
  }
}

@layer styles {
  .glass {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    @apply rounded-2xl backdrop-blur-[40px];
  }

  .text--neon--white {
    text-shadow:
      0 0 2px var(--foreground),
      0 0 17px var(--foreground),
      0 0 30px var(--foreground),
      0 0 70px var(--foreground),
      0 0 80px var(--foreground),
      0 0 90px var(--foreground),
      0 0 140px var(--foreground);
  }

  .text--neon--normal {
    text-shadow:
      0 0 2px var(--neon-normal),
      0 0 17px var(--neon-normal),
      0 0 30px var(--neon-normal),
      0 0 70px var(--neon-normal),
      0 0 80px var(--neon-normal),
      0 0 90px var(--neon-normal),
      0 0 140px var(--neon-normal);
  }

  .text--neon--green {
    text-shadow:
      0 0 2px var(--neon-green),
      0 0 17px var(--neon-green),
      0 0 30px var(--neon-green),
      0 0 70px var(--neon-green),
      0 0 80px var(--neon-green),
      0 0 90px var(--neon-green),
      0 0 140px var(--neon-green);
  }

  .text--neon--red {
    text-shadow:
      0 0 2px var(--neon-red),
      0 0 17px var(--neon-red),
      0 0 30px var(--neon-red),
      0 0 70px var(--neon-red),
      0 0 80px var(--neon-red),
      0 0 90px var(--neon-red),
      0 0 140px var(--neon-red);
  }

  .text--neon--orange {
    text-shadow:
      0 0 2px var(--neon-orange),
      0 0 17px var(--neon-orange),
      0 0 30px var(--neon-orange),
      0 0 70px var(--neon-orange),
      0 0 80px var(--neon-orange),
      0 0 90px var(--neon-orange),
      0 0 140px var(--neon-orange);
  }

  .text--neon--purple {
    text-shadow:
      0 0 2px var(--neon-purple),
      0 0 17px var(--neon-purple),
      0 0 30px var(--neon-purple),
      0 0 70px var(--neon-purple),
      0 0 80px var(--neon-purple),
      0 0 90px var(--neon-purple),
      0 0 140px var(--neon-purple);
  }

  .text--neon--blue {
    text-shadow:
      0 0 2px var(--neon-blue),
      0 0 17px var(--neon-blue),
      0 0 30px var(--neon-blue),
      0 0 70px var(--neon-blue),
      0 0 80px var(--neon-blue),
      0 0 90px var(--neon-blue),
      0 0 140px var(--neon-blue);
  }

  .border--neon--purple {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    box-shadow:
      0 0 0.2rem #fff,
      0 0 0.2rem #fff,
      0 0 2rem var(--neon-purple),
      0 0 0.8rem var(--neon-purple),
      0 0 2.8rem var(--neon-purple),
      inset 0 0 1.3rem var(--neon-purple);
  }
}

@layer animations {
  @keyframes flicker--neon--green {
    /* animation: flicker--neon--green 1.5s infinite; */
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow:
        0 0 4px var(--foreground),
        0 0 11px var(--foreground),
        0 0 19px var(--foreground),
        0 0 40px var(--neon-green),
        0 0 80px var(--neon-green),
        0 0 90px var(--neon-green),
        0 0 100px var(--neon-green),
        0 0 150px var(--neon-green);
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  @keyframes pulsate {
    /* animation: pulsate 2.5s infinite alternate; */
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px var(--neon-normal),
        0 0 80px var(--neon-normal),
        0 0 90px var(--neon-normal),
        0 0 100px var(--neon-normal),
        0 0 150px var(--neon-normal);
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px var(--neon-normal),
        0 0 45px var(--neon-normal),
        0 0 55px var(--neon-normal),
        0 0 70px var(--neon-normal),
        0 0 80px var(--neon-normal);
    }
  }
}
